<link rel="stylesheet" href="/css/interview.css">
<div id="wrapper-body">
<div class="d-flex">
  <div id="table-container">
    <h3 class="ms-2 mt-4">Interviews</h3>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Company</th>
            <th>Interview Timings</th>
            <th>Scheduled By</th>
            <th>Additional Info</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0; i<interviewList.length;i++) { %>
            <tr>
                <td><%=i+1%></td>
                <td><%=interviewList[i].companyName[0].companyName%></td> 
                <td><%=interviewList[i].interviewDateTime%></td>
                <td><%=interviewList[i].scheduledBy%></td>
                <td><a style="color: green;" href="/interview/interview-details/<%=interviewList[i]._id%>"><i class="fa-solid fa-chevron-right"></i> Click here</a></td>
            </tr>
          <% } %>
        </tbody>
    </table>
    </div>
    
  </div>
  <div id="action-links" class="col-md-2">
    
    <!-- <ul class="nav justify-content-end">
      <li class="nav-item">
        <p>Actions</p>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/interview/schedule-form">Schedule Interview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/interview/extract-csv-file">Generate New CSV Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/resources/report.csv">Download Existing CSV Report</a>
      </li>
  </ul> -->
  <div>
    <h3>Actions</h3>
  </div>
  <div>
    <span><i class="fa-solid fa-chevron-right"></i>&nbsp;<a class="link-primary update-link" aria-current="page" href="/interview/schedule-form">Schedule Interview</a></span>
    <br>
    <span><i class="fa-solid fa-file-csv"></i>&nbsp;<a class="link-primary update-link" aria-current="page" href="/interview/extract-csv-file">Generate New CSV Report</a></span>
    <br>
    <span><i class="fa-solid fa-download"></i>&nbsp;<a class="link-primary update-link" aria-current="page" href="/resources/report.csv">Download Existing CSV Report</a></span>
  </div>
  </div>

</div>


</div>

